.container{
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}
.score{
    width: 10%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.scoreTeamA{
    background-color: rgb(238, 206, 184);
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}
.scoreTeamB{
    background-color: rgb(195, 195, 245);
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}
.separator{
    flex: 0 1 auto;
    width: 6%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}
.teamContainer {
    flex: 0 1 auto;
    width: 37%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player{
    flex: 0 1 auto;
    height: 50%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.teamAPlayer1{
    background-color: rgb(201, 162, 148);
    border-top-left-radius: 0.7rem;
    border-bottom: 1px solid white;
}
.teamAPlayer2{
    background-color: rgb(158, 129, 102);
    border-bottom-left-radius: 0.7rem;
}
.teamBPlayer1{
    background-color: rgb(103, 103, 148);
    border-top-right-radius: 0.7rem;
    border-bottom: 1px solid white;
}
.teamBPlayer2{
    background-color: rgb(166, 201, 212);
    border-bottom-right-radius: 0.7rem;
}
.edit{
    display: flex;
    flex-direction: column;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.score-input{
    width: 40%;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
