<app-header title="Players"></app-header>
<ion-content>
    <ion-grid fixed>
        <div *ngIf="state.player$ | async as player">
            <div *ngIf="groupService.currentGroup$ | async as group; else noGroup">
                <app-player-manage></app-player-manage>
            </div>
            <ng-template #noGroup>
                <app-no-group [groupId]="state.currentGroupId$ | async" [player]="player"></app-no-group>
            </ng-template>
        </div>
    </ion-grid>
</ion-content>