<div class="container">
  <div class="teamContainer">
    <div class="teamAPlayer1 player" [ngClass]="teamAPlayer1 ? 'active' : 'inactive'">
      <div *ngIf="teamAPlayer1" class="player-row">
        <span>{{teamAPlayer1?.nickname}}</span>
        <img [src]="teamAPlayer1.photoUrl" class="profilePic">
      </div>
      <div *ngIf="!teamAPlayer1 && canJoin()">
        <ion-fab-button size="small" color="white" (click)="addTeamAPlayer()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
    <div class="teamAPlayer2 player" [ngClass]="teamAPlayer2 ? 'active' : 'inactive'">
      <div *ngIf="teamAPlayer2" class="player-row">
        <span>{{teamAPlayer2?.nickname}}</span>
        <img [src]="teamAPlayer2.photoUrl" class="profilePic">
      </div>
      <div *ngIf="!teamAPlayer2 && canJoin()">
        <ion-fab-button size="small" color="white" (click)="addTeamAPlayer()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>
  <div class="score scoreTeamA">{{match.goalsTeamA}}</div>
  <div class="separator">
    <div class="separator-content">vs</div>
  </div>
  <div class="score scoreTeamB">{{match.goalsTeamB}}</div>
  <div class="teamContainer">
    <div class="teamBPlayer1 player" [ngClass]="teamBPlayer1 ? 'active' : 'inactive'">
      <div *ngIf="teamBPlayer1" class="player-row">
        <img [src]="teamBPlayer1.photoUrl" class="profilePic">
        <span>{{teamBPlayer1?.nickname}}</span>
      </div>
      <div *ngIf="!teamBPlayer1 && canJoin()">
        <ion-fab-button size="small" color="white" (click)="addTeamBPlayer()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
    <div class="teamBPlayer2 player" [ngClass]="teamBPlayer2 ? 'active' : 'inactive'">
      <div *ngIf="teamBPlayer2" class="player-row">
        <img [src]="teamBPlayer2.photoUrl" class="profilePic">
        <span>{{teamBPlayer2?.nickname}}</span>
      </div>
      <div *ngIf="!teamBPlayer2 && canJoin()">
        <ion-fab-button size="small" color="white" (click)="addTeamBPlayer()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>
</div>
<div class="edit" *ngIf="match.status == 2">
  <div class="inputs">
    <ion-item class="score-input">
      <ion-input [(ngModel)]="match.goalsTeamA" name="teamAScore" placeholder="enter score" type="number"
        color="secondary" inputmode="numeric" appSelectAll></ion-input>
    </ion-item>
    <ion-item class="score-input">
      <ion-input [(ngModel)]="match.goalsTeamB" name="teamBScore" placeholder="enter score" type="number"
        color="secondary" inputmode="numeric" appSelectAll></ion-input>
    </ion-item>
  </div>
  <div class="buttons">
    <ion-button (click)="confirmScore()">Confirm</ion-button>
    <ion-button (click)="cancelScoring()">Cancel</ion-button>
  </div>
</div>
<div text-center *ngIf="showTable && table$ | async as table">
  <p>in progress on: {{table.name}} @ {{table.location}}</p>
</div>