.container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.score {
    width: 10%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.separator {
    flex: 0 1 auto;
    width: 6%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-primary);
}

.teamContainer {
    flex: 0 1 auto;
    width: 37%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player {
    flex: 0 1 auto;
    height: 50%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .player-row {
        display: flex;
        width: 100%;
        padding: 0px 3px;

        .profilePic {
            margin: auto;
            height: 32px;
            width: 32px;
            border-radius: 5px;

            @media (max-width: 400px) {
                height: 24px;
                width: 24px;
            }

            @media (max-width: 359px) {
                height: 18px;
                width: 18px;
            }
        }

        span {
            padding: 0px 6px;

            text-align: right;
            flex-grow: 1;
            line-height: 32px;

            @media (max-width: 400px) {
                line-height: 20px;
            }
        }
    }
}

.teamAPlayer1,
.teamAPlayer2,
.teamBPlayer1,
.teamBPlayer2 {
    background-color: var(--mft-inactive-color);
}

.teamBPlayer1,
.teamBPlayer2 {
    .player-row {
        span {
            text-align: left;
        }
    }
}

.scoreTeamA,
.teamAPlayer1.active,
.teamAPlayer2.active {
    background-color: var(--mft-red-team-color);
}

.scoreTeamB,
.teamBPlayer1.active,
.teamBPlayer2.active {
    background-color: var(--mft-blue-team-color);
}

.scoreTeamA {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    border-left: 1px solid white;
}

.scoreTeamB {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    border-right: 1px solid white;
}

.teamAPlayer1 {
    border-top-left-radius: 0.7rem;
    border-bottom: 1px solid white;
}

.teamAPlayer2 {
    border-bottom-left-radius: 0.7rem;
}

.teamBPlayer1 {
    border-top-right-radius: 0.7rem;
    border-bottom: 1px solid white;
}

.teamBPlayer2 {
    border-bottom-right-radius: 0.7rem;
}

.edit {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.score-input {
    width: 40%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}