<ion-card>
  <ion-card-content>
    <div id="container">
      <div id="toolbar">
        <ion-segment (ionChange)="selectedModeChanged($event)" value=0>
          <ion-segment-button value=0>
            <ion-label>My Teams</ion-label>
          </ion-segment-button>
          <ion-segment-button value=1>
            <ion-label>Opponent Teams</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-item>
          <ion-label>Sorting Metric</ion-label>
          <ion-select value="matchesWon" interface="popover" (ionChange)="selectedMetricChanged($event)">
            <ion-select-option value="matchesWon">Matches Won</ion-select-option>
            <ion-select-option value="matchesLost">Matches Lost</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div scrollY="true" id="scrollList">
        <ion-list>
          <ion-item *ngFor="let stats of teamStats$ | async">
            <ion-label>{{stats.teamName$ | async}}: {{stats.metric}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-card-content>
</ion-card>