<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="home()" title="Go back to the home page">
        <img src="/assets/icon/favicon.png" title="MyFoosTracker" height="40">
      </ion-button>
    </ion-buttons>

    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissProfile()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <div *ngIf="state.player$ | async as player">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <img slot="start" [src]="player.photoUrl" class="profilePic">
            <span>{{ player.nickname }}</span>
            <ion-button (click)="editNickname(player)" slot="end">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="playerService.playerGroups$ | async as groups">
        <ion-list>
          <ion-list-header>
            <ion-label>Groups</ion-label>
            <ion-item lines="none">
              <ion-button (click)="createGroup(player)" slot="end" [disabled]="!(state.canCreateGroup$ | async)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list-header>
          <ion-item *ngFor="let group of groups" (click)="!group.isArchived && editGroup(group)">
            <ion-icon *ngIf="group.isArchived" slot="start" name="trash"></ion-icon>
            <ion-icon *ngIf="!group.isArchived && group.id == (state.currentGroupId$ | async)" slot="start" name="checkmark-circle"
              class="activeGroup">
            </ion-icon>
            <ion-icon (click)="changeCurrentGroup(player, group, $event)"
              *ngIf="!group.isArchived && group.id !== (state.currentGroupId$ | async)" slot="start" name="checkmark-circle-outline"
              class="selectableGroup"></ion-icon>
            <ion-label [class.archived]="group.isArchived">
              <h1>{{group.name}}</h1>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div text-center>
      <ion-button color="warning" (click)="logout()">
        <ion-icon name="log-out"></ion-icon> Log out
      </ion-button>
    </div>
  </ion-grid>
</ion-content>