<ion-header>
  <ion-toolbar>
    <ion-title>
      Choose Table
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="tableService.groupTables$ | async as playerTables; else errorMessage">
  <div id="container" *ngIf="playerTables.length > 0; else tableMessage">
    <div scrollY="true" id="scrollList">
      <ion-list>
        <ion-item *ngFor="let table of playerTables" (click)="onTableSelected(table)">
          <ion-label>{{table.name}} @ {{table.location}}</ion-label>
          <ion-icon *ngIf="table.isDefault" slot="end" name="refresh-circle" class="isDefault">
          </ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ng-template #errorMessage>
  <ion-item>
    Something went wrong, please try again.
  </ion-item>
</ng-template>
<ng-template #tableMessage>
  <ion-item id="container">
    There are no tables added to this group yet. Get your group admin to add some. 
  </ion-item>
</ng-template>