<ion-header>
  <ion-toolbar>
    <ion-title>
      Match History
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-card *ngFor="let playerMatchDay of playerMatchesPerDay$ | async">
      <ion-card-header>
        <ion-card-title>Day: {{playerMatchDay.day | date:'dd-MMM-yyyy'}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="match" *ngFor="let playerMatch of playerMatchDay.matches">
          <app-match [match]="playerMatch"></app-match>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>