<ion-content>
    <ion-card>
        <ion-card-title>You are not in any groups</ion-card-title>
        <ion-card-content text-center>
            
            <div>

            </div>
            You are not currently part of any group. Start a new group or follow a
            invite link to join an existing group.
        </ion-card-content>
    </ion-card>
</ion-content>

<div class="currentMatches">
    <div text-center>You are not in any groups</div>
    <div text-center class="noCurrentMatches"></div>
    <div text-center>
        <ion-button (click)="createGroup()">Start a Group</ion-button>
    </div>
</div>