<ion-card>
    <ion-card-title text-center>You are part of any groups</ion-card-title>
    <ion-card-content text-center>
        <ion-label>
            You are not currently part of any group. Start a new group and invite your friends, or follow a
            invite link to join an existing group and start tracking your foosball matches!
        </ion-label>
        <div text-center>
            <ion-button (click)="createGroup()">Start a Group</ion-button>
        </div>
    </ion-card-content>
</ion-card>