<ion-card *ngIf="!isLoading; else loader">
    <ion-card-title text-center>No active Group!</ion-card-title>
    <ion-card-content text-center>
        <ion-label>
            You don't have an active group at this moment. Either create a new group, or select a group you are already a part of. 
            Both can be done from your Profile!
        </ion-label>
        <div text-center>
            <ion-button (click)="navigateToProfile()">Go to Profile</ion-button>
        </div>
    </ion-card-content>
</ion-card>
<ng-template #loader>
    <app-loading></app-loading>
</ng-template>