<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="home()" title="Go back to the home page">
        <img src="/assets/icon/favicon.png" title="MyFoosTracker" height="40">
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{title}}
    </ion-title>

    <ion-buttons slot="end" *ngIf="state.player$ | async as player">
      <span (click)="navigateToProfile()">{{player.nickname}}</span>
      <ion-button (click)="navigateToProfile()" title="Go to the profile page">
        <img [src]="player.photoUrl" class="profilePic">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>