<ion-header *ngIf="state.player$ | async as player">
  <ion-toolbar *ngIf="groupService.editGroup$ | async as group">
    <ion-buttons *ngIf="group.id == (state.currentGroupId$ | async)" slot="start">
      <ion-button>
        <ion-icon slot="start" color="primary" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!isCreate; else createGroupTitle">

      Group: {{group.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ng-template #createGroupTitle>
      <ion-title>
        Create a Group
      </ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="state.player$ | async as player">
  <ion-grid fixed>
    <div *ngIf="groupService.editGroup$ | async as group">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label>{{ group.name }}</ion-label>
            <ion-button *ngIf="isCreate || groupService.isGroupAdmin(player, group)" (click)="editGroupName(group)"
              slot="end">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          </ion-item>
          <div *ngIf="dynamicLinkService.editGroupJoinLink$ | async as link; else loading">
            <ion-button color="secondary" expand="block" (click)="shareJoinGroupLink(group.name, link)">
              Send Invite!
              <ion-icon slot="end" name="people"></ion-icon>
            </ion-button>
          </div>
          <ion-button expand="block" *ngIf="group.id != (state.currentGroupId$ | async)"
            (click)="setAsCurrent(player, group)">
            Set as Active Group
            <ion-icon slot="end" name="checkmark-circle"></ion-icon>
          </ion-button>
          <ion-button expand="block" *ngIf="groupService.isGroupAdmin(player, group)" color="danger"
            (click)="archiveGroup(player, group)">
            Archive this group
            <ion-icon slot="end" name="trash"></ion-icon>
          </ion-button>
          <ng-template #loading>
            <ion-button color="secondary" expand="block" disabled="true">
              <ion-spinner></ion-spinner>
            </ion-button>
          </ng-template>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="!isCreate && groupService.editGroupMembers$ | async as members">
        <ion-card-content>
          <ion-list>
            <ion-list-header>
              <ion-label>Members</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let member of members">
              <span>{{ member.nickname }}</span>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="groupService.editGroupTables$ | async as tables">
        <ion-card-content>
          <ion-list>
            <ion-list-header>
              <ion-label>Tables</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let table of tables">
              <span>{{ table.name }}</span>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>