<div id="container">
  <div id="toolbar">
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
  </div>
  <div scrollY="true" id="scrollList">
    <ion-list>
      <ion-item *ngFor="let player of players$ | async | playerSearch : terms" (click)="gotoStats(player)">
        <img [src]="player.photoUrl" class="profilePic">
        <ion-label>{{player.nickname}}</ion-label>
        <ion-icon [ngClass]="isCurrentUser(player.id) ? 'no-favourite' : 'favourite'" slot="end" [name]="player.isFavourite ? 'star' :'star-outline'"
          (click)="playerFavouriteChanged(player, $event)">
        </ion-icon>
      </ion-item>
    </ion-list>
  </div>
</div>