#toolbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.favourite {
    color: orange;
    cursor: pointer;
    z-index: 2;
}
.default {
    color: green;
    cursor: pointer;
    z-index: 2;
}