<ion-header *ngIf="isModal$ | async">
  <ion-toolbar>
    <ion-title>
      Your Favourite Tables
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <div id="container">
      <div id="toolbar">
        <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
      </div>
      <div scrollY="true" id="scrollList">
        <ion-list *ngIf="tableService.groupTables$ | async as playerTables" >
          <ion-item *ngFor="let table of playerTables | tableSearch : terms">
            <ion-label>{{table.name}}</ion-label>
            <ion-icon class="default" slot="end" [name]="table.isDefault ? 'refresh-circle' :'refresh'"
              (click)="defaultTableChanged(table)">
            </ion-icon>
          </ion-item>
        </ion-list>
      </div>
      <div id="buttons" *ngIf="isModal$ | async">
        <ion-button expand="block" (click)="dismiss()">Done</ion-button>
      </div>
    </div>
  </ion-grid>
</ion-content>