.buttonContainer {
  display: flex;
  justify-content: space-between;

  .button-create {
    flex-grow: 1;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

.waiting {
  span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  span:nth-child(2) {
    animation-delay: .2s;
  }

  span:nth-child(3) {
    animation-delay: .4s;
  }
}

.currentMatches{
  padding-top: 15px;
}

.match{
  padding-left: 15px;
  padding-right: 15px;
}
.match:not(:last-child) { 
  padding-bottom: 5px; 
  border-bottom: 1px solid lightblue;
}
.match:not(:first-child) { 
  padding-top: 5px;
}

.noCurrentMatches{
  padding-top: 10px;
  color: gray;
  font-style: italic;
  font-size: 0.8rem;
}
