<app-header title="Match"></app-header>

<ion-content>
  <div *ngIf="authService.player$ | async as player">
    <ion-card>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item *ngIf="!isInEditMode" style="width: 100%;">
            <span slot="start">Nickname: {{ player.nickname }}</span>
            <ion-button (click)="startEditMode()" color="secondary">
              <ion-icon name=create></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="isInEditMode">
            <ion-label>Player nickname: </ion-label>
            <ion-input class="nick-input" [(ngModel)]="player.nickname" name="playerNickName"
              placeholder="enter nickname" type="text"></ion-input>
            <ion-button (click)="submitNickname(player.nickname)" color="secondary">
              <ion-icon name=checkmark></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <div *ngIf="matchService.currentMatch$ | async as currentMatch">
      <ion-card>
        <ion-card-header *ngIf="currentMatch.status === 0">
          <ion-card-title text-center> Game PIN: {{currentMatch.pin}}</ion-card-title>
        </ion-card-header>
        <ion-card-header *ngIf="currentMatch.status === 1 || currentMatch.status === 2">
          <ion-card-title text-center> Match in progress!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-match [match]="currentMatch" [currentUser]="authService.user" (scoreConfirmed)="onScored($event)"
            (scoringCancelled)="onScoringCancelled()" (matchJoined)="onMatchJoined($event)"></app-match>
          <div *ngIf="currentMatch.organizer === authService.user.uid">
            <div *ngIf="currentMatch.status === 0">
              <div text-center>Waiting for other players to join...</div>
              <div class="buttonContainer">
                <ion-button (click)="addPlayers()">
                  Add players
                </ion-button>
                <ion-button (click)="startMatch()">
                  Start
                </ion-button>
                <ion-button color="warning" (click)="cancelMatch()">
                  Cancel
                </ion-button>
              </div>
            </div>
            <ion-button *ngIf="currentMatch.status === 1" expand="block" (click)="finishMatch()">
              Finish match
            </ion-button>
          </div>
          <div *ngIf="currentMatch.organizer !== authService.user.uid && currentMatch.status === 0">
            <div text-center>Waiting for organizer to start the match...</div>
            <div class="buttonContainer">
              <ion-button *ngIf="currentMatch.participants.indexOf(authService.user.uid) > -1" (click)="leaveTeam()">
                Leave Team
              </ion-button>
              <ion-button color="warning" (click)="leaveMatch()">
                Leave match
              </ion-button>
            </div>
          </div>
          <div *ngIf="currentMatch.organizer !== authService.user.uid && currentMatch.status === 3">
            <div text-center>Match over!</div>
            <ion-button expand="block" (click)="dismissMatch()">
              Dismiss
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="!(matchService.currentMatch$ | async)">
      <ion-button margin expand="block" (click)="createMatch(player)">
        Create a Match!
      </ion-button>
      <div text-center>or</div>
      <div class="pin-input-container">
        <ion-input margin-start [(ngModel)]="gamePin" class="pin-input" name="gamepin-input" type="text"
          placeholder="Enter game pin" color="secondary" inputmode="numeric" minlength=4 maxlength=4 min=0 max=9999
          pattern="\d{4}"></ion-input>
        <ion-button margin expand="block" (click)="findMatchToJoin()" [disabled]="!gamePin">
          Join a match
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>