div[scrollx=true], div[scrolly=true] {
    position: relative;
    overflow: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}
div[scrollx=true] {
    overflow-x: auto;
}  
div[scrolly=true] {
    overflow-y: auto;
}
#container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#toolbar{
    flex-grow: 0;
    flex-shrink: 0;
}
#scrollList {
    flex-grow: 1;
    flex-shrink: 1;
}
#buttons{
    flex-grow:0;
    flex-shrink: 0;
}