<ion-header>
  <ion-toolbar>
    <ion-title>
      Select Players for Match
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <div id="toolbar">
      <ion-segment (ionChange)="selectedTeamChanged($event)" value=0>
        <ion-segment-button value=0>
          <ion-label>Team A</ion-label>
        </ion-segment-button>
        <ion-segment-button value=1>
          <ion-label>Team B</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
    </div>
    <div scrollY="true" id="scrollList">
      <ion-list>
        <ion-item *ngFor="let player of players$ | async | search : terms">
          <ion-label>{{player.nickname}}</ion-label>
          <ion-checkbox slot="start" mode="ios" [(ngModel)]="player.isSelected" (ionChange)="checkboxChanged(player)"
            [disabled]="player.isOrganizer || ((isTeamFull$ | async) && !player.isSelected)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
    <div id="buttons">
      <ion-button expand="block" (click)="dismiss()">Done</ion-button>
    </div>
  </div>
</ion-content>