<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="/assets/icon/favicon.png" title="MyFoosTracker" height="40">
      </ion-button>
    </ion-buttons>
    <ion-title>
      Foostracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-button expand="block" (click)="proceedWithGoogle()" class="authProvider google">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <div class="authButtonText">Login with Google</div>
    </ion-button>
    <ion-button expand="block" (click)="proceedWithGithub()" class="authProvider github">
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <div class="authButtonText">Login with Github</div>
    </ion-button>
    <ion-button expand="block" (click)="proceedWithTwitter()" class="authProvider twitter">
        <ion-icon name="logo-twitter" slot="start"></ion-icon>
        <div class="authButtonText">Login with Twitter</div>
    </ion-button>
    <ion-button expand="block" (click)="proceedWithFacebook()" class="authProvider facebook">
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        <div class="authButtonText">Login with Facebook</div>
    </ion-button>
  </ion-grid>
</ion-content>